/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}
/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

/* Compliance Audit Tabs start */

.compliance_audit_tabs {
  padding: 0px 20px 0px 35px;
}

.nav-item .nav-link {
  position: relative;
  /* background-color: rgba(20, 68, 146, 0.8); */
  color: var(--blue) !important;
  font-family: var(--primary-font) !important;
  font-weight: 500 !important;
  margin-right: 0;
  padding-right: 20px;
  border-radius: 0 !important;
  border: none !important;
  clip-path: polygon(0% 0%, 90% 0, 95% 51%, 100% 100%, 0% 100%) !important;
  z-index: 0;
}

.border {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0px;
  bottom: 1px;
  clip-path: polygon(0% 0%, 90% 0, 95% 51%, 100% 100%, 0% 100%) !important;
  z-index: 1;
}

.nav-item .nav-link.active {
  background-color: #144492 !important;
  color: var(--white) !important;
  clip-path: polygon(0% 0%, 90% 0, 95% 51%, 100% 100%, 0% 100%) !important;
}

/* Compliance Chart */
.social_compliance_chart {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}

.chart_box {
  width: 100%;
}

.chart_box p {
  color: #000;
  font-family: var(--primary-font);
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  margin-top: 8px;
}

/* cntribution header */
.contribution_header {
  position: relative;
  margin-top: 30px;
}

.contribution_header .contribution_header_bg {
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: fill;
  z-index: -1;
}

.contribution_header .contribution_header_content {
  padding: 25px;
}

.contribution_header_content h2 {
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 2em;
  font-weight: 600;
}

.contribution_header_content p {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 300;
  margin: 15px 0 20px;
}

.contribution_header_content div {
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 1.1em;
  font-weight: 500;
}

.contribution_header_content div img {
  width: 20px;
  margin: 0 7px;
}

@media screen and (max-width: 1400px) {
  .contribution_header_content h2 {
    font-size: 1.7em;
  }

  .contribution_header_content p {
    font-size: 1em;
  }

  .contribution_header_content div {
    font-size: 1em;
  }
}

/* Compliance Audit Options */
.compliance_audit_options {
  padding: 170px 0 80px;
}

.compliance_audit_options_header h4 {
  color: #144492;
  font-family: var(--primary-font);
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px 0;
}

.compliance_audit_option_items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.compliance_audit_option_items:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.option_items_left p {
  margin-bottom: 0;
  color: #1e2749;
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 500;
}

.option_items_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_items_left .select_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 170px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.option_items_left .select_box select {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(30, 39, 73, 0.7);
}

.option_items_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_items_right .option_items_right_col_1 {
  display: flex;
  align-items: center;
}

.option_items_right_col_1 .option_select {
  margin-right: 10px;
}

.option_items_left_col_1 .option_select {
  margin-right: 10px;
  font-size: .8em;
}

.option_items_left_col_1 p {
  font-size: .8em;
  margin-bottom: 2px;
}

.option_items_right_col_1 .option_select input[type="radio"] {
  accent-color: #144492;
}

.option_items_left_col_1 .option_select input[type="radio"] {
  accent-color: #144492;
}

.option_items_right_col_1 .option_select label {
  margin-right: 8px;
  cursor: pointer;
  color: rgba(30, 39, 73, 0.4);
}

.option_items_left_col_1 .option_select label {
  margin-right: 8px;
  cursor: pointer;
  color: rgba(30, 39, 73, 0.4);
}

.option_items_right_col_1 .select_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 170px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.option_items_right_col_1 .select_box select {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(30, 39, 73, 0.7);
}

.option_items_right_col_1 .enter_usd_value {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 170px;
  outline: none;
  padding-left: 15px;
}

.option_items_right_col_2 a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: rgba(20, 68, 146, 0.1);
  margin-left: 15px;
}

.option_items_right_col_2 a img {
  width: 22px;
}

.option_items_add_btn .start_btn {
  text-decoration: none;
  border: none;
  display: inline-block;
  outline: none;
  border-radius: 4px;
  background: #fc7e14;
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 1em;
  height: 40px;
  padding: 0 20px;
  font-weight: 400;
}

.option_items_add_btn a {
  text-decoration: none;
  border: none;
  outline: none;
  display: inline-block;
  line-height: 40px;
  background: transparent;
  height: 40px;
  color: #fc7e14;
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 600;
}

.options_item_link a {
  color: #037bff;
  font-family: var(--primary-font);
  font-size: 0.9em;
  font-weight: 400;
}

.submit_btn {
  float: right;
  margin: 30px 0;
}

.submit_btn a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #144492;
  width: 130px;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  background-color: rgba(20, 68, 146, 0.1);
  transition: 0.4s;
  margin-left: 10px;
}

.submit_btn a.active,
.submit_btn a:hover {
  background-color: var(--blue);
  color: var(--white);
}

.submit_btn a.active svg path,
.submit_btn a:hover svg path {
  fill: var(--white);
}

.submit_btn a svg {
  margin-right: 6px;
  transition: 0.4s;
}

.submit_btn a svg path {
  fill: #144492;
  transition: 0.4s;
}

@media screen and (max-width: 1730px) {
  .compliance_audit_options_header h4 {
    font-size: 1.3em;
  }

  .option_items_left p {
    font-size: 0.8em;
  }

  .option_items_left .select_box {
    height: 35px;
    width: 160px;
  }

  .option_items_left .select_box select {
    font-size: 0.8em !important;
  }

  .option_items_right_col_1 .select_box select {
    font-size: 0.8em !important;
  }

  .option_items_add_btn .start_btn {
    font-size: 0.8em;
  }

  .option_items_add_btn a {
    font-size: 0.8em;
  }

  .option_items_right_col_1 .option_select label {
    margin-right: 6px;
    font-size: 0.8em;
  }

  .option_items_right_col_1 .option_select input[type="radio"] {
    transform: scale(0.9);
  }

  .option_items_right_col_1 .select_box {
    height: 35px;
    width: 160px;
  }

  .option_items_right_col_1 .enter_usd_value {
    height: 35px;
    width: 160px;
    font-size: 0.8em;
  }

  .option_items_right_col_2 a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
  }

  .option_items_right_col_2 a img {
    width: 18px;
  }

  .options_item_link a {
    font-size: 0.8em;
  }
}

/* @media screen and (max-width: 1400px) {
  .option_items_right_col_1 .option_select input[type="radio"] {
    transform: scale(0.8);
  }

  .option_items_right_col_2 button {
    width: 25px;
    height: 25px;
    margin-left: 6px;
  }

  .option_items_right_col_2 button img {
    width: 16px;
  }

  .options_item_link a {
    font-size: 0.7em;
  }
} */

/* Compliance Audit Tabs End */
