/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

/* dashboard start */

#dashboard {
  margin-top: 100px;
  padding: 0px 20px 0px 45px;
}

.nav-item .nav-link {
  background-color: rgba(3, 123, 255, 0.15) !important;
  color: var(--blue) !important;
  font-family: var(--primary-font) !important;
  font-weight: 500 !important;
  margin-right: 15px;
}

.nav-item .nav-link.active {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

/* dashboard end */
