/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

/* dashboard start */

#dashboard {
  padding: 0px 20px 0px 45px;
}

.tab-content {
  margin: 0;
}

.nav-item .nav-link {
  background-color: rgba(3, 123, 255, 0.15) !important;
  color: var(--blue) !important;
  font-family: var(--primary-font) !important;
  font-weight: 500 !important;
  margin-right: 15px;
}

.nav-item .nav-link.active {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.dashboard_card {
  width: 100%;
  height: 150px;
  padding: 20px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: grid;
  margin-top: 40px;
}

.dashboard_card h4 {
  font-size: 0.9em;
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: 600;
}

.dashboard_card p {
  font-size: 0.9em;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.dashboard_card p i {
  color: #848ea2;
  margin-right: 10px;
}

.dashboard_card div {
  font-size: 1.3em;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.6);
}

.dashboard_card div span {
  font-size: 1.8em;
  font-weight: 700;
}

.dashboard_card div span.green {
  color: var(--primary-color);
}
.dashboard_card div span.yellow {
  color: var(--secondary-color);
}
.dashboard_card div span.red {
  color: var(--accent-color);
}
.dashboard_card div span.black {
  color: var(--black);
}

.bar_chart {
  width: 100%;
  height: 350px !important;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart_box .chart {
  width: 100% !important;
  min-height: 100% !important;
}

.apexcharts-legend {
  justify-content: center !important;
  gap: 10px !important;
  top: 0 !important;
}

.chart_one {
  position: relative;
  width: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}

.chart_one .chart_box {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.chart_box #chartThreeBar {
  width: 100%;
  height: 100%; /* Add this line */
}

.chart_two {
  position: relative;
  width: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 30px;
}

.chart_two .chart_box {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* dashboard end */
