/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

.manage-user-tabs {
  padding: 0px 30px 0px 27px;
  margin-top: 100px;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--blue) !important;
  color: #037bff !important;
  font-weight: 600;
}

.nav-link {
  color: #696969 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 30px !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

/* Tab Content Area */
.breadcrumb {
  font-size: 0.9rem !important;
  padding-left: 0 !important;
}

.manage-btn {
  display: flex !important;
  justify-content: end !important;
  text-align: right !important;
}

.manage-btn button {
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* Learners Card Section */
.learners-card {
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 10px;
}

.learners-card h6 {
  color: #696969;
  font-weight: 600;
}

.invite-btn {
  display: flex !important;
  justify-content: end !important;
  text-align: right !important;
}

.invite-button {
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 6px 15px;
  background-color: #fff;
  font-size: 14px;
  color: var(--blue);
}

/* Learner Card Single */
.learner-card-single {
  background-color: #edf3fd;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  height: 110px;
}

.avatar img {
  width: 80%;
}

.profile-info h6 {
  color: #1e2749c7;
}

.profile-info p {
  font-size: 0.8rem;
  color: #1e2749c7;
  line-height: 1.8rem;
}

/* Follow Button */
.follow {
  margin-left: 10px;
  text-align: end;
}

.follow-btn {
  display: inline-block;
  padding: 5px 20px;
  font-size: 0.8rem;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
}

/* Faciliator Card */
.faciliators-card {
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 10px;
}

.faciliators-card h6 {
  color: #696969;
  font-weight: 600;
}

/* Coaches Card */
.coaches-card {
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 10px;
}

.coaches-card h6 {
  color: #696969;
  font-weight: 600;
}
/* Tab Content Area */
