/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

.manage-user-tabs {
  padding: 0px 30px 0px 27px;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #037bff !important;
  color: #037bff !important;
  font-weight: 600;
}

.nav-link {
  color: #696969 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 30px !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

/* Tab Content Area */
.breadcrumb {
  font-size: 0.9rem !important;
  padding-left: 0 !important;
}
/* Tab Content Area */
