/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

.project-name-table {
    overflow-x: scroll;
    width: 98%;
  }

.project-name-table::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  
  .project-name-table::-webkit-scrollbar-track {
    background-color: #fff;
    outline: 1px solid #d9d9d9;
    outline-offset: 2px;
    border-radius: 30px;
  }
  .project-name-table::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 30px;
  }


/* Project & Program Cost Overview Section Start */
.ppcost-container {
    margin-left: 45px;
    overflow-x: hidden;
}

.pp-cost-heading p {
    font-weight: 600;
    font-size: 1.2rem;
}

.table-new {
    border-radius: 10px !important;
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    width: 100%;
}

.table-new thead {
    background: #144492;
    height: 50px;
    color: rgba(255, 255, 255, 0.80);
}

.table-new thead th {
    font-size: 16px;
    font-weight: 400 !important;
    padding: 0 20px;
}

.table-new tbody tr {
  border-left: 1px solid rgba(0, 0, 0, 0.15);;
  border-right: 1px solid rgba(0, 0, 0, 0.15);;
}

.table-new tbody td {
    padding: 14px 20px;
    font-size: 15px !important;
}

.table-new tbody td:first-child {
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #1E2749;
    font-size: 18px;
    font-weight: 600;
}
.table-new tbody td:nth-child(even) {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #1E2749;
}

.table-new tbody td:last-child {
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #1E2749;
}

/* Project & Program Cost Overview Section End */