/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

/* Product Pag start */

.product_wrapper {
  padding: 0px 30px 0px 45px;
}

#product_dashboard {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.product_dashboard_content {
  display: flex;
  align-items: center;
}

.product_dashboard_content .product_brand_logo {
  width: 180px;
  height: 130px;
  border-radius: 6px;
}

.product_dashboard_content .product_brand_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.product_dashboard_content .divider {
  width: 1px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 0 0 30px;
}

.product_dashboard_chart_head h4 {
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.product_chart_lagend {
  text-align: center;
  font-family: var(--primary-font);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 0.8em;
}

.product_chart_lagend img {
  width: 35px;
}

.product_chart_lagend i {
  color: var(--blue);
}

/* Product details start */

#product_details {
  margin-top: 30px;
}

.product_details_main_view {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product_details_main_view img {
  width: 300px;
}

.product_details_tab_view {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.product_details_tab_view img {
  width: 90px;
}

.product_details_tab_view.active,
.product_details_tab_view:hover {
  border: 1px solid var(--blue);
}

/* product rating */

.product_cart_details h2 {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 30px;
}

.product_id {
  margin-bottom: 10px;
}

.product_id span {
  color: var(--blue);
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 500;
}

.product_price_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_price_row .product_price {
  font-size: 2.3em;
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: 600;
}

.product_price_row .product_price span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
  padding-left: 10px;
}

.product_rating {
  display: flex;
  align-items: center;
}

.product_rating .rating_star {
  margin-right: 5px;
}

.product_rating .rating_star i {
  color: #f3be00;
  font-size: 0.9em;
}

.product_rating span {
  font-family: var(--primary-font);
  color: var(--blue);
  display: inline-block;
  font-size: 0.9em;
  padding: 0 10px;
}

.product_rating span:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.product_share_btn a {
  text-decoration: none;
  padding-left: 12px;
}

.product_share_btn a i {
  color: rgba(0, 0, 0, 0.6);
}

/* Product details end */

@media screen and (max-width: 1600px) {
  .product_chart_lagend {
    font-size: 0.7em;
  }

  .product_chart_lagend img {
    width: 30px;
  }
}

@media screen and (max-width: 1450px) {
  .product_chart_lagend {
    font-size: 0.6em;
  }

  .product_chart_lagend img {
    width: 25px;
  }
}

/* Product Pag start */
