/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

/* Project Report Page Start */
#project_report {
  padding: 0px 30px 0px 45px;
}

.project_report_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_cpmpliance_user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.project_cpmpliance_user_avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 15px;
}

.project_cpmpliance_user_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project_cpmpliance_user_content h5 {
  margin-bottom: 5px;
  font-family: var(--primary-font);
  font-size: 1.2em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.project_cpmpliance_user_content p {
  margin-bottom: 0;
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.project_user_info {
  display: flex;
  align-items: center;
}

.project_user_info p {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.project_user_info p span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.project_user_info p:last-child {
  margin-left: 40px;
}

/* Project Report Page End  */
